<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="keywords" content="gtm doc, google tag manager, documentation, analytics, google login">
    <meta name="description" content="Google Tag Manager Documentation for non-devs ● Define custom titles &amp; descriptions ● Just log in via Google &amp; choose your container ● GTM Doc"/>
    <meta name="author" content="Nick Böcker">

    <meta property="og:locale" content="en_EN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="GTM Doc - Easy documentation for Google's Tag Manager" />
    <meta property="og:description" content="Google Tag Manager Documentation for non-devs ● Define custom titles &amp; descriptions ● Just log in via Google &amp; choose your container ● GTM Doc" />
    <meta property="og:url" content="https://gtm.nick-hat-boecker.de/" />
    <meta property="og:site_name" content="Nick hat Böcker" />
    <meta property="og:image" content="https://gtm.nick-hat-boecker.de/img/gtm_doc_social.jpg" />
    <meta property="og:image:secure_url" content="https://gtm.nick-hat-boecker.de/img/gtm_doc_social.jpg" />
    <meta property="og:image:width" content="767" />
    <meta property="og:image:height" content="383" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Google Tag Manager Documentation for non-devs ● Define custom titles &amp; descriptions ● Just log in via Google &amp; choose your container ● GTM Doc" />
    <meta name="twitter:title" content="GTM Doc - Easy documentation for Google's Tag Manager" />
    <meta name="twitter:site" content="@nickhatboecker" />
    <meta name="twitter:image" content="https://gtm.nick-hat-boecker.de/img/gtm_doc_social.jpg" />
    <meta name="twitter:creator" content="@nickhatboecker" />

    <title>GTM Doc</title>

    <link rel="icon" href="https://nick-hat-boecker.de/wp-content/themes/nhb-2015/img/favicon.png" sizes="64x64" />

    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <div id="app"></div>

    {{ encore_entry_script_tags('app') }}
</body>
</html>
